.container {
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/background.png");
    background-size: cover;
}


/* HOLIDAYS HEADER START */

.holidays-info {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-content: start;
    font-family: "Verdana", sans-serif;
    color: #ffffff;
    width: 1060px;
    height: 100px;
}


.holidays-info-link {
    text-decoration: none;
    color: #ffffff;
}

.holidays-info-logo-img {
    display: inline-block;
    width: 46px;
    height: 44px;
    background-image: url(../img/milan-logo.png);
    background-size: cover;
    transition: .4s;
}

.holidays-info-name {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    transition: .4s;
}

.holidays-info-link:hover .holidays-info-name {
    text-decoration: none;
    color: #f26522;
}

.holidays-info-link:hover .holidays-info-logo-img {
    background-image: url(../img/milan-logo-orange.png);
}

.holidays-info-name-title {
    display: block;
    font-size: 28px;
    font-weight: 700;
}

.holidays-info-contacts {
    text-align: right;
    font-style: 20px;
}

.holidays-info-email {
    padding: 5px 0px 5px 0px;
}


/* HOLIDAYS HEADER END */

/* HOLIDAYS MAIN CONTENT START */

.holidays-nav-photo {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
    font-family: "Verdana", sans-serif;
    color: #ffffff;
    width: 1060px;
    height: 600px;
}

.holidays-nav-photo:nth-child(3) {
    align-self: end;
}

.holidays-photo-link {
    display: grid;
    grid-template-rows: auto;
    align-content: start;
    text-decoration: none;
    color: #ffffff;
}

.holidays-photo-items {
    display: grid;
    justify-content: center;
    position: relative;
}

.holidays-img {
    border: 2px solid #ffffff;
    border-image-source: linear-gradient(#ffffff, transparent);
    border-image-slice: 20;
}

.holidays-photo-link-path {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: center;
    align-content: center;
    align-items: end;
    position: absolute;
    left: 12px;
    bottom: 81px;
    width: 310px;
    height: 63px;
    background-color: #f26522;
    opacity: 0;
    transition: 0.4s;
}

.holidays-photo-link:hover .holidays-photo-link-path {
    opacity: 1;
}

.holidays-photo-link:hover .holidays-photo-title {
    color: #f26522;
}

.holidays-photo-tour-price {
    display: inline-block;
    font-size: 24px;
}

.holidays-photo-tour-price::before {
    content: "\20AC";
    font-size: 24px;
}

.holidays-photo-link-path-offer {
    font-size: 10px;
    font-weight: 400;
    text-align: left;
}

.holidays-photo-link-path-price {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

.holidays-photo-link-path-details {
    float: right;
    font-size: 16px;
    font-weight: 400;
}

.holidays-photo-link-path-details::after {
    content: "\203A";
    margin-left:10px;
    font-size: 18px;
}

.holidays-photo-title {
    width: 310px;
    text-align: center;
    margin: 13px 0px 0px 0px;
    transition: 0.4s;
}

/* HOLIDAYS MAIN CONTENT END */

/* HOLIDAYS FOOTER START */

.holidays-footer {
    display: grid;
    grid-template-rows: auto;
    width: 1060px;
    height: 100px;
    justify-content: center;
    align-items: start;
    font-family: "Verdana", sans-serif;
    color: #ffffff;
    font-size: 12px;
}

.footer-info-year::before {
    content: "\00A9";
    font-size: 14px;
    margin-right: 5px;
}


/* HOLIDAYS FOOTER END */